In [1]:
# Datalar klasöründeki datalari pandas dataframe ile okutup alttaki işlemleri yapiniz.
# 	•	Tum ogrencilerin bilgilerini tek bir dataframe icinde su sutunlardan olusacak sekilde birlestiriniz; > " Sinif ismi, Ogrenci Adi, Dogru Sayisi, Yanlis Sayisi, Bos Sayisi" .

import pandas as pd
import numpy as np

# exel file method
py_mind = pd.ExcelFile("datalar/py_mind.xlsx")
py_opinion = pd.ExcelFile("datalar/py_opinion.xlsx")
py_science = pd.ExcelFile("datalar/py_science.xlsx")
py_sense = pd.ExcelFile("datalar/py_sense.xlsx")

# function for create data such as we need
def dataConcater(fileName, filePath, myExcelFile):
    # define lists for true,false and unanswered questions
    dogru_list,yanlis_list,bos_list = [],[],[]
    # get all sheet names in one exel file
    fileSheetNamesList = myExcelFile.sheet_names
    # find all dogru,yanlis and bos datas in each sheets
    for i in fileSheetNamesList:
        readFile = pd.read_excel(filePath, sheet_name=i)
        getDogru = readFile[readFile.eq("Dogru").any(1)]
        getYanlis = readFile[readFile.eq("Yanlis").any(1)]
        getBos = readFile[readFile.eq("Bos").any(1)]
        dogru_list.append(getDogru.iloc[0, 1])
        yanlis_list.append(getYanlis.iloc[0, 1])
        bos_list.append(getBos.iloc[0, 1])
    # create pandas dataframe for each exel file
    veri = pd.DataFrame({"Sinif ismi": fileName, "Ogrenci Adi": fileSheetNamesList,
                      "Dogru Sayisi": dogru_list, "Yanlis Sayisi": yanlis_list, "Bos Sayisi": bos_list})
    return veri


mind = dataConcater("py_mind", "datalar/py_mind.xlsx", py_mind)
opinion = dataConcater("py_opinion", "datalar/py_opinion.xlsx", py_opinion)
science = dataConcater("py_science", "datalar/py_science.xlsx", py_science)
sense = dataConcater("py_sense", "datalar/py_sense.xlsx", py_sense)

data = pd.concat([mind, opinion, science, sense], axis=0, ignore_index=True)
# set index start from 1 to...
new_index=np.arange(1,len(data["Ogrenci Adi"])+1)
data.set_index(new_index,inplace=True)
data

    Sinif ismi Ogrenci Adi  Dogru Sayisi  Yanlis Sayisi  Bos Sayisi
1      py_mind    emrullah            14              6           0
2      py_mind       osman             9             11           0
3      py_mind       ozgur             9             11           0
4      py_mind       emrah             9             11           0
5      py_mind        riza             7             12           1
6      py_mind        zeyd            13              6           1
7      py_mind        ufuk            15              2           3
8      py_mind    Mehmet A            10             10           0
9      py_mind     Murat Z             9             11           0
10     py_mind       Hakan            14              6           0
11  py_opinion     Emrah U            13              7           0
12  py_opinion       Salih            10             10           0
13  py_opinion     Murat O            14              6           0
14  py_opinion       Aydin            10             10           0
15  py_opinion      Ilhami            12              8           0
16  py_opinion     Ibrahim             9             11           0
17  py_opinion       Ensar             6             14           0
18  py_opinion      Nazmi             15              5           0
19  py_opinion    Mehmet K            13              7           0
20  py_opinion        Naim            15              5           0
21  py_science       dilek            17              2           1
22  py_science       Zerin            15              1           4
23  py_science       beyza            12              5           3
24  py_science        Esra            12              8           0
25  py_science       Sehri            20              0           0
26  py_science    Emine S.            11              6           3
27  py_science    Emine T.            16              3           1
28  py_science      Rukiye             9              7           4
29    py_sense     Ramazan            10             10           0
30    py_sense       Faruk            16              4           0
31    py_sense     Huseyin            14              6           0
32    py_sense      Selcuk            11              9           0
33    py_sense       Adnan            14              5           1
34    py_sense        Kaya            11              9           0
35    py_sense       Zafer            12              7           1
36    py_sense     Mehmeta            11              9           0
37    py_sense    Fikret Y            10             10           0
38    py_sense       Emrah            11              9           0

In [3]:
# •	Sinava giren ogrenci sayisini hesaplayiniz.
sinavaGirenOgrenciSayisi =data.index.stop                       # one way
sinavaGirenOgrenciSayisi =data["Ogrenci Adi"].count()           # other way
sinavaGirenOgrenciSayisi

38

In [5]:
# •	Siniflarin ayri ayri Dogru yanlis bos ortalamalarini hesaplayiniz.
siniflarinDYBortalamasi=data.groupby("Sinif ismi").mean()
siniflarinDYBortalamasi

            Dogru Sayisi  Yanlis Sayisi  Bos Sayisi
Sinif ismi
py_mind             10.9            8.6         0.5
py_opinion          11.7            8.3         0.0
py_science          14.0            4.0         2.0
py_sense            12.0            7.8         0.2

In [6]:
	# •	Her sinifin ayri ayri en basarili ogrencisini bulunuz.
py_scienceEnBasarilisi=data[data["Sinif ismi"]=="py_science"].sort_values(by="Dogru Sayisi",ascending=False).head(1)
py_mindEnBasarilisi=data[data["Sinif ismi"]=="py_mind"].sort_values(by="Dogru Sayisi",ascending=False).head(1)
py_opinionEnBasarilisi=data[data["Sinif ismi"]=="py_opinion"].sort_values(by="Dogru Sayisi",ascending=False).head(1)
py_senseEnBasarilisi=data[data["Sinif ismi"]=="py_sense"].sort_values(by="Dogru Sayisi",ascending=False).head(1)

siniflarinEnBasarilisi=pd.concat([py_scienceEnBasarilisi,py_senseEnBasarilisi,py_opinionEnBasarilisi,py_mindEnBasarilisi])
siniflarinEnBasarilisi

    Sinif ismi Ogrenci Adi  Dogru Sayisi  Yanlis Sayisi  Bos Sayisi
25  py_science       Sehri            20              0           0
30    py_sense       Faruk            16              4           0
18  py_opinion      Nazmi             15              5           0
7      py_mind        ufuk            15              2           3

In [7]:
# •	Tum sinavin en basarili ilk 3 ogrencisini bulunuz.
enBasariliUc=data.sort_values(by="Dogru Sayisi",ascending=False).head(3)
enBasariliUc

    Sinif ismi Ogrenci Adi  Dogru Sayisi  Yanlis Sayisi  Bos Sayisi
25  py_science       Sehri            20              0           0
21  py_science       dilek            17              2           1
30    py_sense       Faruk            16              4           0

In [39]:
# •	Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)
siniflarinSTD=data.groupby("Sinif ismi")["Dogru Sayisi"].std()
siniflarinSTD

Sinif ismi
py_mind       2.806738
py_opinion    2.907844
py_science    3.625308
py_sense      2.000000
Name: Dogru Sayisi, dtype: float64

In [40]:
# Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.
dybOrtalama=data.mean()
dybOrtalama

Dogru Sayisi     12.052632
Yanlis Sayisi     7.342105
Bos Sayisi        0.605263
dtype: float64